*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right, #051427, #042727);
}
.header{
    color: white;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
}
.header::-webkit-scrollbar{
    display: none;
}
.header{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.header img{
    object-fit: contain;
    height: 80px;
}
.header_icons{
    display: flex;
    align-items: center;
    text-align: center;
}
.header_icon{
    display: flex;
    flex-direction: column;
    width: 120px;
    cursor: pointer;
}
.header_icon p{
    color: red;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    font-size: small;
    display: none;
}
.header_icon:hover p{
    display: inline-flex;
}
.header_icon .material-icons{
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.active p{
    color: white;
    display: inline-flex;
}

/* navigation bar  */
.nav{
    display: flex;
    color: white;
    overflow-x: scroll;
    padding: 10px;
    padding-left: 40px;
}
.nav::-webkit-scrollbar{
    display: none;
}
.nav{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.nav h2{
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 500;
    opacity: 0.6;
    transition: transform 50mx ease-out;
}
.nav h2:hover{
    opacity: 1;
    transform: scale(1.2);
}
.movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    color: white;
    width: 500px;
    height: 400px;
    padding: 20px;
    transition: transform 100ms;
}
.movie img{
    width: 460px;
    height: 300px;
    object-fit: contain;
}
.movie:hover {
    transform: scale(1.15);
}
.movie p{
    padding: 10px;
    text-align: center;
}
.movie h2{
    padding: 10px;
    text-align: center;
}